#app-title{
    text-align:center;
}
#search-forms{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#time-dropdown{
    border:none;
}

#search-query{
 width:50%;   
}

#map_and_schedule{
height:50em;
width:80em;
border:solid 1px black;
}

.container-element{
    display:block;
    display:inline-block;
    width:33%;
    height:100%;
}

#schedule{
    float:left;
    border: 1px solid black;
    background-color:#2d5be3;
    color:#fff;
}


#directions{
    background-color:#b6b6b4;
    float:left;
}
#map{
   background-color:#ccc;
}

ul{
    list-style:none;
}